{% extends 'layout.html.twig' %} 

{% block title %} {{ parent() }} Modifier le mot de passe{% endblock %} 

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md6 col-lg-12 col-sm-12 mt-3">
                    <h1> Modifier mon mot de passe </h1>
                    <a  href="{{path("account_perso")}}">Retourner à mon compte</a><br>
        <hr>
        {{ form(formChangePwd) }}
        <hr>
        </div>
    </div>
</div>
{% endblock %}
