{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="row my-auto mx-auto align-items-center text-center">
        <h1>
            Hannah Stazya Books
        </h1>
    </div>
      
{% endblock %}