{% extends "layout.html.twig" %} 


{% block title %} ERROR 403 {% endblock %} 


{% block content %}

<div class="m5 p-5 text-center alert-danger">
  <h4>Vous n'avez pas les droits pour accéder à cette page!</h4>
  <p>Contactez l'administrateur du site au : 0800etpleindechiffresencore</p>
</div>

{% endblock %}