{% extends "layout.html.twig" %} 


{% block title %} ERROR 404 {% endblock %} 


{% block content %}

<div class="m5 p-5 text-center alert-danger">
  <h4>L'url n'existe pas!</h4>
  <p>Contactez l'administrateur du site au : 0800etpleindechiffresencore</p>
</div>

{% endblock %}